pkgbase = remote-encoder
	pkgdesc = Remote encode media files.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.0.1.1
	pkgrel = 1
	url = https://github.com/themartiancompany/remote-encoder
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	depends = dynssh
	depends = rsync
	optdepends = media-tools: media manipulation tools library
	optdepends = record-tools: recording tools suite
	optdepends = android-recorder: for recording from this device screen.
	optdepends = android-camera-recorder: for recording from this device camera
	optdepends = android-remote-camera-recorder: for recording from the camera of another device
	source = remote-encoder-26eb06e83d7bab2c558e306f056776c7baf17a04.zip::https://github.com/themartiancompany/remote-encoder/archive/26eb06e83d7bab2c558e306f056776c7baf17a04.zip
	validpgpkeys = 97E989E6CF1D2C7F7A41FF9F95684DBE23D6A3E9
	sha256sums = 068f3750f15bb9167b3c07e4e1563ecd986d1227608b13804a7ba984565b4058

pkgname = remote-encoder
